@media screen and (min-width: 1200px) {
    .navMenu {
        .navMenuContent .navMenuContentList li {
            display: initial;
        }
        .navMenuButton {
            display: none;
        }
    }

    .container {
        max-width: 1140px;
    }

    .intro {
        margin: 4rem 0;
    }

    .sectionFilter {
        justify-content: center;

        .sectionFilterItem {
            margin: 0 0.25rem;
            justify-content: center;

            > select {
                width: 106px;
            }
            > input {
                width: 80px;
            }
        }
    }

    .card {
        max-width: calc(100% / 3);
        flex-basis: calc(100% / 3);

        .card_body_favorite_content_message {
            width: 300px;
        }
    }

    .propertyDetailTopMain {
        justify-content: space-between;
        height: 600px;

        &.Fullscreen {
            .propertyDetailTopMainCarousel {
                width: calc(100% - 220px);
                height: 100%;

                .propertyDetailTopMainCarouselImgContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .propertyDetailTopMainCarousel {
            width: 840px;
            height: 100%;

            .propertyDetailTopMainShift {
                width: 30px;
            }
        }
        .propertyDetailTopMainMini {
            width: 220px;
            flex-direction: column;

            .propertyDetailTopMainMiniItems {
                margin: 1rem 0;

                > div {
                    margin: 0 auto;
                    padding: 0.25rem 0;
                    width: 200px;
                    height: 150px;
                }
            }
            .propertyDetailTopMainScroll {
                width: 100%;

                > span {
                    transform: rotate(90deg);
                    width: 20px;
                    height: 16px;
                }
            }
            .top {
                top: 0;
            }
            .bottom {
                bottom: 0;
            }
        }
    }

    .loginContent {
        justify-content: space-between;

        .signin {
            width: 60%;
            border-right: .0625rem solid #cacad9;
        }
        .signup {
            width: 35%;

            .signupModalDialog {
                width: 500px;
            }
        }
    }

    .profile_info_input {
        width: 800px;
    }
}
