@media screen and (max-width: 575px) {
  .navMenu {
    display: block;
  }
  .navMenu .navMenuBrand {
    width: fit-content;
    margin-right: unset;
    margin-left: 2.5rem;
  }
  .navMenu .navMenuContent {
    width: 100%;
  }
  .navMenu .navMenuContent .displayMenu {
    height: 80px;
    transition: height 0.5s;
  }
  .navMenu .navMenuContent .displayMenu_overflow {
    overflow: visible !important;
  }
  .navMenu .navMenuContent .hideMenu {
    height: 0;
    transition: height 0.5s;
  }
  .navMenu .navMenuContent .navMenuContentList {
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }

  .intro {
    margin-top: 1rem;
  }

  .sectionFilter {
    flex-wrap: wrap;
  }
  .sectionFilter .sectionFilterItem {
    justify-content: center;
    margin: 0.25rem 0;
    flex-grow: 1;
  }
  .sectionFilter .sectionFilterItem > select {
    width: 176px;
  }
  .sectionFilter .sectionFilterItem > input {
    width: 176px;
  }
  .sectionFilter .sectionFilterResetbutton {
    margin: 0;
    width: 220px;
  }
  .sectionFilter .order_1 {
    order: 1;
  }
  .sectionFilter .order_2 {
    order: 2;
  }
  .sectionFilter .order_3 {
    order: 3;
  }
  .sectionFilter .order_4 {
    order: 4;
  }
  .sectionFilter .order_5 {
    order: 5;
  }
  .sectionFilter .order_6 {
    order: 6;
  }

  .card_entity_img {
    width: 100%;
    height: 230px !important;
  }

  .card_body_title {
    font-size: 1.2rem;
  }

  .card_body_favorite_content_message {
    width: 210px;
  }
  .card_body_favorite_content_message .card_body_favorite_content_message_authLink_button {
    font-size: 0.6rem !important;
  }

  .propertyDetailTopMain {
    flex-direction: column;
  }
  .propertyDetailTopMain.Fullscreen .propertyDetailTopMainCarousel {
    width: 100%;
    height: 100%;
  }
  .propertyDetailTopMain.Fullscreen .propertyDetailTopMainCarousel .propertyDetailTopMainCarouselImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .propertyDetailTopMain .propertyDetailTopMainCarousel {
    height: 300px;
  }
  .propertyDetailTopMain .propertyDetailTopMainCarousel .propertyDetailTopMainShift {
    width: 18px;
  }
  .propertyDetailTopMain .propertyDetailTopMainMini {
    margin-top: 1rem;
    max-width: 100%;
  }
  .propertyDetailTopMain .propertyDetailTopMainMini .propertyDetailTopMainMiniItems {
    display: flex;
    width: 100%;
    margin: 0 1rem;
  }
  .propertyDetailTopMain .propertyDetailTopMainMini .propertyDetailTopMainMiniItems > div {
    padding: 0.25rem;
    width: 105px;
    min-width: 105px;
    height: 80px;
  }
  .propertyDetailTopMain .propertyDetailTopMainMini .propertyDetailTopMainScroll {
    height: 100%;
  }
  .propertyDetailTopMain .propertyDetailTopMainMini .propertyDetailTopMainScroll > span {
    width: 16px;
    height: 20px;
  }
  .propertyDetailTopMain .propertyDetailTopMainMini .top {
    left: 0;
  }
  .propertyDetailTopMain .propertyDetailTopMainMini .bottom {
    right: 0;
  }

  .propertyDetailBottomMain .propertyDetailBottomMainHeader {
    flex-direction: column-reverse;
  }
  .propertyDetailBottomMain .propertyDetailBottomMainHeader .propertyDetailBottomMainHeaderTitle {
    margin-top: 1rem;
  }
  .propertyDetailBottomMain .propertyDetailBottomMainHeader .propertyDetailBottomMainHeaderReference {
    text-align: initial !important;
  }
  .propertyDetailBottomMain .propertyDetailBottomMainHeader .propertyDetailBottomMainHeaderReference .hidden {
    display: initial !important;
  }
  .propertyDetailBottomMain .propertyDetailBottomMainInformations ul {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .loginContent {
    flex-direction: column;
    align-items: center;
  }
  .loginContent .loginFormContent svg {
    display: none;
  }
  .loginContent .signin {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 0.0625rem solid #cacad9;
    width: 80%;
  }
  .loginContent .signup {
    width: 80%;
  }
  .loginContent .signup .signupTitle {
    text-align: center;
  }
  .loginContent .signup div:first-child {
    margin-bottom: 1.5rem;
  }
  .loginContent .signup .signupModalDialog {
    max-width: 90%;
  }

  .profile_info_input {
    flex-direction: column;
  }
  .profile_info_input .inputContainer {
    margin: 0 auto 1.5rem auto;
  }

  .profile_info_buttons {
    margin-top: unset !important;
  }

  .footer {
    flex-direction: column;
  }
  .footer > div {
    margin: 1rem 2rem;
  }
}

/*# sourceMappingURL=extraSmall.css.map */
