@media screen and (max-width: 575px) {
    .navMenu {
        display: block;

        .navMenuBrand {
            width: fit-content;
            margin-right: unset;
            margin-left: 2.5rem;
        }
        .navMenuContent {
            width: 100%;

            .displayMenu {
                height: 80px;
                transition: height 0.5s;
            }
            .displayMenu_overflow {
                overflow: visible !important;
            }
            .hideMenu {
                height: 0;
                transition: height 0.5s;
            }
            .navMenuContentList {
                flex-direction: column;
                align-items: flex-start;
                overflow: hidden;
            }
        }
    }

    .intro {
        margin-top: 1rem;
    }

    .sectionFilter {
        flex-wrap: wrap;

        .sectionFilterItem {
            justify-content: center;
            margin: .25rem 0;
            flex-grow: 1;

            > select {
                width: 176px;
            }
            > input {
                width: 176px;
            }
        }
        .sectionFilterResetbutton {
            margin: 0;
            width: 220px;
        }
        .order_1 {
            order: 1;
        }
        .order_2 {
            order: 2;
        }
        .order_3 {
            order: 3;
        }
        .order_4 {
            order: 4
        }
        .order_5 {
            order: 5;
        }
        .order_6 {
            order: 6;
        }
    }

    .card_entity_img {
        width: 100%;
        height: 230px !important;
    }
    .card_body_title {
        font-size: 1.2rem;
    }
    .card_body_favorite_content_message {
        width: 210px;

        .card_body_favorite_content_message_authLink_button {
            font-size: .6rem !important;
        }
    }

    .propertyDetailTopMain {
        flex-direction: column;

        &.Fullscreen {
            .propertyDetailTopMainCarousel {
                width: 100%;
                height: 100%;

                .propertyDetailTopMainCarouselImgContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .propertyDetailTopMainCarousel {
            height: 300px;

            .propertyDetailTopMainShift {
                width: 18px;
            }
        }
        .propertyDetailTopMainMini {
            margin-top: 1rem;
            max-width: 100%;

            .propertyDetailTopMainMiniItems {
                display: flex;
                width: 100%;
                margin: 0 1rem;

                > div {
                    padding: .25rem;
                    width: 105px;
                    min-width: 105px;
                    height: 80px;
                }
            }
            .propertyDetailTopMainScroll {
                height: 100%;

                > span {
                    width: 16px;
                    height: 20px;
                }
            }
            .top {
                left: 0;
            }
            .bottom {
                right: 0;
            }
        }
    }
    .propertyDetailBottomMain {
        .propertyDetailBottomMainHeader {
            flex-direction: column-reverse;

            .propertyDetailBottomMainHeaderTitle {
                margin-top: 1rem;
            }
            .propertyDetailBottomMainHeaderReference {
                text-align: initial !important;

                .hidden {
                    display: initial !important;
                }
            }
        }
        .propertyDetailBottomMainInformations ul {
            flex-wrap: nowrap;
            flex-direction: column;
        }
    }

    .loginContent {
        flex-direction: column;
        align-items: center;

        .loginFormContent {
            svg {
                display: none;
            }
        }
        .signin {
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            border-bottom: .0625rem solid #cacad9;
            width: 80%;
        }
        .signup {
            width: 80%;

            .signupTitle {
                text-align: center;
            }
            div:first-child {
                margin-bottom: 1.5rem;
            }
            .signupModalDialog {
                max-width: 90%;
            }
        }
    }

    .profile_info_input {
        flex-direction: column;

        .inputContainer {
            margin: 0 auto 1.5rem auto;
        }
    }
    .profile_info_buttons {
        margin-top: unset !important;
    }

    .footer {
        flex-direction: column;

        > div {
            margin: 1rem 2rem;
        }
    }
}
