@media screen and (min-width: 768px) and (max-width: 991px) {
    .navMenu {
        .navMenuContent .navMenuContentList li {
            display: initial;
        }
        .navMenuButton {
            display: none;
        }
    }

    .container {
        max-width: 720px;
    }

    .intro {
        margin-top: 2rem;
    }

    .sectionFilter {
        flex-wrap: wrap;

        .order_1 {
            order: 1;
        }
        .order_2 {
            order: 2;
        }
        .order_3 {
            order: 3;
        }
        .order_4 {
            order: 4
        }
        .order_5 {
            order: 5;
        }
        .order_6 {
            order: 6;
        }
        .sectionFilterItem {
            width: calc(100% / 3);
            margin: .25rem 0;
            justify-content: center;

            > select {
                width: 106px;
            }
            > input {
                width: 106px;
            }
        }
        .sectionFilterResetbutton {
            margin: 0;
            width: 150px;
        }
    }

    .card {
        max-width: 50%;
        flex-basis: 50%;

        .card_body_favorite_content_message {
            width: 270px;
        }
    }

    .propertyDetailTopMain {
        flex-direction: column;

        &.Fullscreen {
            .propertyDetailTopMainCarousel {
                width: 100%;
                height: 100%;

                .propertyDetailTopMainCarouselImgContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .propertyDetailTopMainCarousel {
            height: 550px;

            .propertyDetailTopMainShift {
                width: 30px;
            }
        }
        .propertyDetailTopMainMini {
            margin-top: 1rem;
            width: 100%;
            max-width: 690px;

            .propertyDetailTopMainMiniItems {
                display: flex;
                width: 100%;
                margin: 0 1rem;

                > div {
                    padding: .25rem;
                    width: 160px;
                    min-width: 160px;
                    height: 120px;
                }
            }
            .propertyDetailTopMainScroll {
                height: 100%;

                > span {
                    width: 16px;
                    height: 20px;
                }
            }
            .top {
                left: 0;
            }
            .bottom {
                right: 0;
            }
        }
    }

    .loginContent {
        justify-content: space-between;

        .signin {
            width: 60%;
            border-right: .0625rem solid #cacad9;
        }
        .signup {
            width: 35%;

            .signupModalDialog {
                width: 500px;
            }
        }
    }

    .handlePropertyCard {
        .handlePropertyCard_form_body {
            flex-direction: column;

            .handlePropertyCard_form_body_imgList {
                width: 100% !important;
                padding-right: 0 !important;
                justify-content: center;
                padding-bottom: .5rem;

                .handlePropertyCard_form_body_imgList_item {
                    width: unset !important;
                    max-width: 100%;
                }
            }
            .handlePropertyCard_form_body_content {
                width: 100% !important;
                justify-content: center !important;
                border-left: unset !important;

                .handlePropertyCard_form_body_content_select, .handlePropertyCard_form_body_content_input, .handlePropertyCard_form_body_content_list {
                    width: 100% !important;

                    > input {
                        width: 100% !important;
                    }
                    .handlePropertyCard_form_body_content_list_addButton {
                        width: 100% !important;
                    }
                }
            }
        }
        .handlePropertyCard_form_buttons {
            flex-direction: column-reverse;

            > button {
                margin-right: unset !important;
                margin-bottom: .5rem;
            }
        }
    }

    .profile_info_input {
        flex-wrap: wrap;

        .inputContainer {
            margin-bottom: 1.5rem;
            margin-right: 2rem;
        }
    }
    .profile_info_buttons {
        margin-top: unset !important;
    }

    .footer {
        flex-direction: column;

        > div {
            margin: 1rem 2rem;
        }
    }
}
